<!DOCTYPE html>
<html lang="en">
	<head>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-wt5n5nQfbR0OPhW9OaMz/ZQZLLeFNvzAFc14E/yYXWAgZ3Y7fRVRDEvXTq/L6aKdxxW9eUm7Byn5e+uJ1QWzJw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> !-->
		
		<link rel="stylesheet" href="../css/style.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>Mitarbaiter Wochenstunden</title>
	</head>
	<body>
		<!-- Here a loader is created which
			loads till response comes -->
		<div class="d-flex justify-content-center loading">
			<div class="spinner-border"
				role="status" id="loading">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div class="new_staff_member">
			<button id="add_new_staff_member">
				<!-- <i class="fa-solid fa-user-plus" style="color: #000000;">
					
				</i> -->
				Add Member
				<span class="icon"></span>
			</button>
		</div>
		<!-- <h1>Mitarbaiter Wochenstunden</h1> -->
		<!-- Card List for showing data -->
		<div id="card_list"></div>
		<!-- Overlay history card-->
		<div id="history"></div>
		<!-- Button add new Staff Member-->
		
		<script src="../js/main.js"></script>
	</body>
</html>
